<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="ffts_gitlab" value="https://192.168.64.188:443/api/v4/projects/107/packages/nuget/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <ffts_gitlab>
      <add key="Username" value="gitlab+deploy-token-6" />
      <add key="ClearTextPassword" value="qZLmrKTZHuoXV1252h6t" />
    </ffts_gitlab>
  </packageSourceCredentials>
  <!--<trustedSigners>
    <repository name="ffts_gitlab" serviceIndex="https://192.168.64.188:443/api/v4/projects/107/packages/nuget/index.json">
      <certificate fingerprint="17d70a67f8b31c8c68d1ec4c3e070bb7cc5b016b" hashAlgorithm="SHA256" allowUntrustedRoot="true" />
    </repository>
  </trustedSigners>-->
</configuration>
